body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #EDD5A5;
}

*{
    font-family: 'Lilita One', cursive;
}

.startButton, .startGame, .easy,.normal, .playAgain,.hard, .home,.readyButton{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #F46255;
    box-shadow: 0px 8px #94362E;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
}
.home{
    background-color: #94362E;
    box-shadow: 0px 8px #F46255;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
    height: auto;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2.5%;
}

.startButton p, .startGame p, .submit p, .easy p, .normal p, .hard p {
    margin: 3%;
    margin-right: 6%;
}

.startContainer,
.game,
.selection,
.final{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.startContainer{
    justify-content: unset;
    position: absolute;
    background-image: url("./img/Background.png");
    background-size: contain;
    background-position: bottom;
}

.final{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.title{
    width: 50%;
    box-sizing: content-box;
}


.disc{
    top: 0vh;
    position: absolute;
    width: 20vh;
    height: 20vh;
    background-image: url("./img/Music\ Disc.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 5s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg)
    }
}
.move{
    display: flex;
    position: absolute;
    width: 10vh;
    animation: spin 5s linear infinite;
}

.needle{
    position: absolute;
    width: 40%;
    height: 20vh;
    background-image: url("./img/Needle.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.show{
    width: 70%;
    height: auto;
}
.hide{
    display: none;
    visibility: hidden;
}
.song1,
.song2,
.song3{
    position:inherit;
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    background-color: #D4D4D4;
    color: #1B2B65;
    font-size: large;
    margin: 20px auto;
    border-radius: 2em;
    border: 2px solid #1B2B65;
    height: 20vmin;
}
.song1{
    top: 18vh;
}
.song2{
    top: 45vh;
}
.song3{
    top: 73vh
}
.difficulty{
    height: 10vmin;
}
.container{
    display: flex;
    top: 45vh;
    width: 20vh;
    display: flex;
    height: 20vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.ready{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    gap: 5vh;
    width: 100%;
    height: 100vh;
    z-index: 9;
    top: 0;
    background-color: transparent;
}
.pop{
    background-color: white;
    position: relative;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail{
    width: 90%;
    position: relative;
    /* height: 60%; */
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}
.detail p {
    margin: 5px;
}
.sign{
    position: relative;
    height: 65px;
    width: 50px;
    left: 5.5px;
    background-image: url("./img/Music Note.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pic{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 30%;
}
.text p{
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}
.home{
    margin: 20px auto;
}

  /*mobile*/
  @media screen and (max-width: 767px){
    body{
        width: 100%;
        display: flex;
    }
    .startContainer,.selection,.ready, .game,.final{
        max-width: 375px;
        max-height: 667px;
        position: relative;
    }
    .startContainer{
        max-width: 100%;
    }
    .final{
        max-width: 100%;
    }
    .choice p{
        font-size: 26px;
    }
    .startButton, .startGame, .playAgain, .home, .easy, .normal, .hard {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
    .next, .readyButton{
        width: calc(100% - 100px);
        padding: 3%;
        justify-content: center;
        align-items: center;
    }
    .disc,.container{
        max-width: 135px;
        max-height: 135px;
    }
    .needle{
        top: 65px;
        max-width:50px;
        max-height: 135px;
    }
    .move{
        max-width: 65px;
    }
}

  /*ipad*/
  @media screen and (min-width: 768px) and (max-width: 1199px){
     body{
        width: 100%;
        display: flex;
    }
    .show{
        width: 40%;
        margin-bottom: 40px;
    }
    .startContainer,.selection,.ready, .game,.final{
        max-width: 700px;
        max-height: 1020px;
        position: relative;
    }
    .startContainer{
        min-width: 100%;
        max-height: 100%;
        justify-content: center;
    }
    
    .move{
        margin-top: 32px;
        margin-right: 150px;
    }
    .startButton,.easy, .normal, .hard,.readyButton, .playAgain,.home{
        max-width: 400px;
        padding: 3.5%;
    }
    .words{
        font-size: 30px;
    }
    .arrowHead{
        max-width: 25px;
    }
    .choice p{
        font-size: 35px;
    }
    .text p{
        font-size: 50px;
    }
    .disc, .container{
        max-width: 205px;
        max-height: 205px;
    }
    .needle{
        top: 100px;
        max-width:50px;
        max-height: 250px;
    }
    .move{
        max-width: 118px;
    }
    .sign{
        height: 90px;
        width: 90px;
        left: 19px;
    }
    .detail{
        font-size: 40px;
    }
}

  /*desktop*/
@media screen and (min-width:1200px){
    body{
        width: 100%;
        display: flex;
    }
    .startContainer,.selection,.ready, .game,.final{
        max-width: 375px;
        max-height: 667px;
    }
    .show{
        width: 50%;
    }
    .startButton, .easy, .hard,.normal,.readyButton,.playAgain,.home{
        max-width: 250px;
    }
    .pic{
        width: 30%;
        margin: 10px auto;
    }
    .text p {
        margin-bottom: 0;
    }
    .detail{
        font-size: 20px;
    }
}

@media screen and (max-width:767px){
    .endTitle {
      display: none;
    }
  }


  .detail p.highlight{
    font-size: 36px;
    color:crimson;
    margin-bottom: 20px;
}