body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #EDD5A5;
}

.startButton, .startGame, .easy,.normal, .playAgain,.hard, .home{
    width: 100%;
    position: relative;
    align-self: center;
    background-color: #F46255;
    box-shadow: 0px 8px #94362E;
    border: 0px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 10px;
    padding: 5% 5%;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
}

.home{
    background-color: #94362E;
    box-shadow: 0px 8px #F46255;
}

.words{
    font-size: 20px;
    width: 100%;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 500;
}

.arrowHead{
    margin-right: 10px;
    max-width: 15px;
    height: auto;
}

.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2.5%;
}

.startButton p, .startGame p, .submit p, .easy p, .normal p, .hard p {
    margin: 3%;
    margin-right: 6%;
}

.startButton{
    margin-top: 300px;
}

.startContainer,
.game,
.selection,
.final{
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.startContainer{
    justify-content: unset;
    position: absolute;
    background-image: url("./img/Background.png");
    background-size: contain;
    background-position: bottom;
}
.final{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-title{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.title{
    width: 50%;
    box-sizing: content-box;
}

.disc,
.disc1{
    position: absolute;
    max-width: 50%;
    height: auto;
    top: 35vh;
    background-image: url("./img/Music\ Disc.png");
    background-repeat: no-repeat;
    background-size: contain;
    animation: spin 5s linear infinite;
}
.disc1{
    top: 0vh;
    width: 20vh;
    height: 20vh;
}

@keyframes spin{
    100%{
        transform: rotate(360deg)
    }
}
.move{
    display: flex;
    position: absolute;
    top: 150vh;
    width: 10vh;
    animation: spin 5s linear infinite;
}
.needle,
.needle1{
    position: absolute;
    width: 40%;
    height: auto;
    top: 6.5vh;
    transform: rotate(35deg);
}
.needle1{
    width: 40%;
    height: 20vh;
    top: 6.5vh;
    background-image: url("./img/Needle.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(38deg);
}
.show{
    position: absolute;
    width: 20%;
    height: auto;
    top: 17.5vh;
    transform: rotate(-138deg);
}
.hide{
    display: none;
}
.song1,
.song2,
.song3{
    position:inherit;
    width: 70vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    background-color: #D4D4D4;
    color: #1B2B65;
    font-size: large;
    margin: 20px auto;
    border-radius: 2em;
    border: 2px solid #1B2B65;
    height: 20vmin;
}
.song1{
    top: 18vh;
}
.song2{
    top: 45vh;
}
.song3{
    top: 73vh
}
.difficulty{
    height: 10vmin;
}
.container{
    display: flex;
    top: 45vh;
    width: 40vh;
    height: 20vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.sign{
    position: relative;
    height: 50%;
    width: 20vh;
    background-image: url("./img/Music Note.png");
    background-size: contain;
    background-repeat: no-repeat;
    left: 7.2vh;
}
.pic{
    margin-top: 50px;
    width: 50%;
}
.text p{
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
}
.home{
    margin: 20px auto;
}

  /*mobile*/
  @media screen and (max-width: 767px){
    .startButton, .startGame, .playAgain, .home, .easy, .normal, .hard {
    width: calc(100% - 70px);
    justify-content: center;
    align-items: center;
    }
    .next, .readyButton{
        width: calc(100% - 100px);
        padding: 3%;
        justify-content: center;
        align-items: center;
    }
}

  /*desktop*/
@media screen and (min-width:1200px){
    body{
        width: 100%;
        display: flex;
    }
    .startContainer,.selection, .game,.final{
        max-width: 375px;
    }
}